.nav{
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

a{
    color: #96daff;
    text-decoration: none;
    font-size: 20px;
}
a:visited{
    color: #96daff;
}
a:hover{
  color: #61dafb;
}