input {
    background-color: black;
    border: 4px solid #96daff;

    padding: 10px;

    width: 100%;
    height: 40px;

    box-sizing: border-box;
    outline: none;
}

label {
    font-size: 20px;
}

/*
.errorInput {
    padding: 6px 0 4px 10px;

    height: 30px;
    width: 300px;

    font-size: 13px;

    border: 2px solid #FF50E5;
    background: black;
    border-radius: 8px;
}

.error {
    color: #FF50E5;
    font-weight: bold;
}*/
