.form {
    margin: 0 auto;
    margin-top: 50px;

    max-width: 500px;

    display: flex;
    flex-direction: column;
}

.form_item {
    width: 100%;
    margin-bottom: 20px;
}

.error,
.loading {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.loading {
    font-size: 30px;
}