.default,
.red {
    font-family: inherit;
    font-size: 30px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}

.default::before {
    content: "[";
}

.default::after {
    content: "]";
}
